%li
  = link_to event.title, event
  \-
  - if event.live_in?
    Live in
  - else
    = distance_of_time_in_words(event.start_time, event.end_time)
    long
  \- #{h event.location}
  \- #{h event.start_time.to_s(:long)} (#{distance_of_time_in_words_to_now(event.start_time)} from now)
  \- #{(event.scenarios.nil?) ? "(No scenarios)" : pluralize(event.scenarios.count, 'scenario')}
  - if !event.submitted? && !event.approved?
    %span.queue-list= link_to_confirm "Submit", submit_event_path(event), t(:submit_confirm, :company_name => APP_CONFIG[:company_name])
  - elsif event.submitted? || event.approved?
    %span.queue-list= link_to_confirm "Revoke", revoke_event_path(event), t(:revoke_confirm, :company_name => APP_CONFIG[:company_name])
