- title "Home"
- name = @current_instructor.name_hash
%div
  %p
    Welcome back
    %strong
      = name[:prefix]
      = name[:first_name]
      \.
- if @events_in_queue.count > 0
  %p.notification #{pluralize @events_in_queue.count, 'session'} #{(@events_in_queue.count==1)?'has':'have'} not been submitted for approval yet.
- if is_admin?
  %h2 Administrative Attention Needed:
  .accordion
    .accordion-header
      %a
        = "Needing approval (#{pluralize @events_needs_approval.count, 'session'})"
    .accordion-content
      - if @events_needs_approval.empty?
        No sessions need your attention now.
      - else
        You have the following sessions that need approval:
        %ol
          = render :partial => 'event', :collection => @events_needs_approval
%h2 Your Sessions:
.accordion
  .accordion-header
    %a
      = "Waiting to be submitted (#{pluralize @events_in_queue.count, 'session'})"
  .accordion-content
    - if @events_in_queue.empty?
      You do not have any sessions in queue yet.
    - else
      You have the following sessions in queue:
      %ol
        = render :partial => 'event', :collection => @events_in_queue
    %p= link_to "Enter a new session", new_event_path
  .accordion-header
    %a
      = "Pending Approval (#{pluralize @events_submitted.count, 'session'})"
  .accordion-content
    - if @events_submitted.empty?
      There are no session pending approval yet. Submit your sessions for approval first.
    - else
      The following sessions are pending approval:
      %ol
        = render :partial => 'event', :collection => @events_submitted
  .accordion-header
    %a
      = "Approved (#{pluralize @events_approved.count, 'session'})"
  .accordion-content
    - if @events_approved.empty?
      No sessions approved yet.
    - else
      The following sessions have been approved:
      %ol
        = render :partial => 'event', :collection => @events_approved
