- name = @current_instructor.name_hash
%p.user_control
  = link_to "Log Out", logout_path
  | #{link_to "Edit Profile", edit_instructor_path(@current_instructor)}
  - if @current_instructor.admin?
    | #{link_to "View Users", instructors_path}
    | #{link_to "Edit Manikins", manikins_path}
%div
  %p
    Welcome back
    %strong
      = name[:prefix]
      = name[:first_name]
      \.
%h2 Sessions:
.accordion
  .accordion-header
    %a
      = "Waiting to be submitted (#{pluralize @events_in_queue.count, 'session'})"
  .accordion-content
    - if @events_in_queue.empty?
      You do not have any sessions in queue yet.
    - else
      You have the following sessions in queue:
      %ol
        = render :partial => 'event', :collection => @events_in_queue
    %p= link_to "Enter a new session", new_event_path
  .accordion-header
    %a
      = "Pending Approval (#{pluralize @events_submitted.count, 'session'})"
  .accordion-content
    - if @events_submitted.empty?
      There are no session pending approval yet. Submit your sessions for approval first.
    - else
      The following sessions are pending approval:
      %ol
        = render :partial => 'event', :collection => @events_submitted
  .accordion-header
    %a
      = "Approved (#{pluralize @events_approved.count, 'session'})"
  .accordion-content
    - if @events_approved.empty?
      No sessions approved yet.
    - else
      The following sessions have been approved:
      %ol
        = render :partial => 'event', :collection => @events_approved
