<% title "SYN:APSE Simulation Center" %>
<% add_nav_link "Start new session", new_event_path %>
<% name = @current_instructor.name_hash %>

<p class="user_control">
   <%= link_to "Log Out", logout_path %>
  | <%= link_to "Edit Profile", edit_instructor_path(@current_instructor) %>
  <% if @current_instructor.admin? %>
    | <%= link_to "View Users", instructors_path %>
    | <%= link_to "Edit Manikins", manikins_path %>
  <% end %>
</p>

<div>
  <p>
    Welcome back <strong><%= name[:prefix] %> <%= name[:first_name] %>.</strong>
  </p>
</div>

<div class="box border">
  <% if @events_in_queue.empty? %>
    <p>You do not have any sessions in queue yet.</p>
  <% else %>
    <p>You have the following sessions in queue:</p>
    <p><ol>
      <%= render :partial => 'event', :collection => @events_in_queue %>
    </ol></p>
  <% end %>
  <p><%= link_to "Enter a new session", new_event_path %></p>
</div>

<% if !@events_submitted.empty? %>
<div class="box border">
  <p>The following sessions are pending approval:</p>
  <p><ol>
    <%= render :partial => 'event', :collection => @events_submitted %>
  </ol></p>
</div>
<% end %>

<% if !@events_approved.empty? %>
<div class="box border">
  <p>The following sessions have been approved:</p>
  <p><ol>
    <%= render :partial => 'event', :collection => @events_approved %>
  </ol></p>
</div>
<% end %>
