!!!HTML4
%html
  %head
    = stylesheet_link_jquery
    = stylesheet_link_tag "agenda"
    = javascript_include_jquery
    = javascript_include_tag "application"
    :css
      div.ui-widget {
        font-size: 0.6em;
        padding: 2px;
        width: 50%;
      }
    :javascript
      $(function() {
        APP.initAgendaButtons();
      });
  %body
    = render :partial => "agenda_controls"
    %h1= "Agenda for #{@date_range}"
    %hr
    - if @weeks.empty?
      .info There are no events scheduled.
    - @weeks.each_with_index do |week,index|
      %div{:id => "week-#{index}"}
        %h2= "Week for #{week[:week_start].strftime(@time_format)} - #{week[:week_end].strftime(@time_format)}"
        - if week[:events].empty?
          .info No sessions scheduled for this week.
        - else
          = render :partial => "agenda_event", :object => week[:events]
