!!!HTML4
%html
  %head
    = stylesheet_link_jquery
    = stylesheet_link_tag "agenda"
    = javascript_include_jquery
    = javascript_include_tag "application"
    :javascript
      $(function() {
        $("input:submit").button();
        $("#print-button").button({icons:{primary:'ui-icon-print'}});
        $("#return-button").button({icons:{primary:'ui-icon-arrowreturnthick-1-w'}});
      });
  %body
    = render :partial => "agenda_controls"
    %h1= "Agenda for #{@date_range}"
    %hr
    - if @weeks.empty?
      .info There are no events scheduled.
    - @weeks.each_with_index do |week,index|
      %div{:id => "week-#{index}"}
        %h2= "Week for #{week[:week_start].strftime(@time_format)} - #{week[:week_end].strftime(@time_format)}"
        - if week[:events].empty?
          .info No sessions scheduled for this week.
        - else
          %ol.week-list
            - day_match = nil
            - week[:events].each do |event|
              - event_day = event.start_time.strftime("%A - %B %d")
              - if event_day != day_match
                - day_match = event_day
                %h4= event_day
              = render :partial => "agenda_event", :object => event
