- title "Event Calendar"
- javascript (APP_CONFIG[:use_minified_js] ? 'fullcalendar.min' : 'fullcalendar')
- javascript 'calendar_index'
- stylesheet 'fullcalendar'
- stylesheet 'fullcalendar.print', :media => :print
- stylesheet "calendar-fixes"
- add_nav_link "Print Agenda", agenda_path, { :icon => 'print', :is_button => true }
- wide_content
:css
  #controls-box { margin: 0 0 10px 0; }
:javascript
  $(function() {
    CAL.initFullCalendar();
    CAL.initFacilityChangeEvents();
  });
#calendar-header.calendar-home-link
#calendar
#calendar-footer.calendar-home-link
  = link_to "Home", root_path
  .ui-widget
    #calendar-legend.ui-widget-content.ui-corner-all.ui-helper-clearfix
      - @facilities.each do |f|
        %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right{:style=>"background-color:#{h f.agenda_color};"}
          = check_box_tag("facility-checkbox-#{f.id}", f.id, true, { :class => 'facility' })
          =h f.name
      %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right{:style=>"background-color:#{Option.find_option_for("special_event_color").value};"}
        = check_box_tag("special-event-checkbox", "special", true, { :class => 'facility' })
        Special Event
      %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right{:style=>"background-color:#{Option.find_option_for("not_approved_color").value};"}
        Not Approved
