- title "#{@program.name} Program"
%h2 #{@program.name} Program
%table
  %tbody
    %tr
      %td.table-list-label Program Contact:
      %td.table-list-value= link_to_with_icon h(@program.contact.name), @program.contact, :icon => "contact"
    %tr
      %td.table-list-label Created by:
      %td.table-list-value= link_to_with_icon h(@program.created_by.name), @program.created_by, :icon => "contact"
    %tr
      %td.table-list-label Created on:
      %td.table-list.value=dt @program.created_at
    %tr
      %td.table-list-label Last updated on:
      %td.table-list.value=dt @program.updated_at
:markdown
  #{@program.description}
%h4 Benifit
:markdown
  #{@program.benifit}
= control_box do
  Program Actions:
  = link_to_with_icon t(:view_all), programs_path, :is_button => true
  = link_to_with_icon t(:edit), edit_program_path(@program), :is_button => true, :icon => "pencil"
  - if is_admin?
    = link_to_confirm t(:destroy), delete_program_path(p), :confirm => t(:destroy_confirm), :is_button => true, :icon => "trash"
