- confirm_on_exit
:javascript
  $(function() {
    APP.instructorActiveButton.init();
  });
- semantic_form_for @instructor do |f|
  - f.inputs do
    = f.input :name
    - if is_admin?
      = f.input :active
    = f.input :email
    - if Facility.count > 0
      = f.input :facility
    = f.input :office
    = f.input :phone
    = f.input :password, :as => :password, :required => true
    = f.input :password_confirmation, :as => :password, :required => true
    - if is_admin?
      - if @instructor == @current_instructor
        %p You are an administrator.
      - else
        = f.input :admin
      = f.input :is_tech
    #theme_sample.ui-widget.ui-helper-clearfix{:style=>"display:none;text-align:center"}
      .ui-state-default.ui-corner-all
        %span.ui-icon.ui-icon-info{:style=>"float:left;margin-right:.3em"}
        Theme sample
        %span.ui-icon.ui-icon-lightbulb{:style=>"float:right;margin-left:.3em"}
    = f.input :gui_theme, :as => :select,
      :collection => APP_CONFIG[:gui_themes],
      :include_blank => false
  - f.buttons do
    - if logged_in?
      = f.commit_button :save
    - else
      = f.commit_button :sign_up
