- confirm_on_exit
- semantic_form_for @instructor do |f|
  - f.inputs do
    = f.input :name
    = f.input :email
    - if Facility.count > 0
      = f.input :facility
    = f.input :office
    = f.input :phone
    = f.input :password, :as => :password, :required => true
    = f.input :password_confirmation, :as => :password, :required => true
    - if @current_instructor && @current_instructor.admin?
      - if @instructor == @current_instructor
        %p You are an administrator.
      - else
        = f.input :admin
      = f.input :is_tech
      = f.input :notify_recipient
    #theme_sample.ui-state-default.ui-corner-all.ui-helper-clearfix{:style=>"display:none;"}
      %span.ui-icon.ui-icon-info
      Theme sample
      %span.ui-icon.ui-icon-lightbulb
    = f.input :gui_theme, :as => :select,
      :collection => APP_CONFIG[:gui_themes],
      :include_blank => false
  - f.buttons do
    - if logged_in?
      = f.commit_button :save
    - else
      = f.commit_button :sign_up
