- title "Instructors"
%table
  %tr
    %th Name
    %th Department
    %th Email
    %th Phone
    %th Admin
    %th{:colspan => "2"} Actions
  - for instructor in @instructors
    %tr
      %td= h instructor.name
      %td= h instructor.office
      %td= h instructor.email
      %td= h instructor.phone
      %td= instructor.admin ? "Yes" : "no"
      %td= link_to_confirm "Edit", edit_instructor_path(instructor)
      %td= link_to_confirm t(:destroy), instructor, :confirm => t(:destroy_confirm), :method => :delete
%p= link_to_confirm "New instructor", new_instructor_path
%p= link_to_confirm "Return", root_path
