- semantic_form_for @options["system_email_recipients"], :namespace => "system_email_recipients" do |f|
  - f.inputs do
    = f.input :value,
      :as => :multiselect,
      :include_blank => false,
      :collection => Instructor.all,
      :label => "System email recipients",
      :hint => "Select who should recieve system email notifications."
  = f.buttons
- semantic_form_for @options["scheduler_phone"], :namespace => "scheduler_phone" do |f|
  - f.inputs do
    = f.input :value,
      :label => "Phone number for scheduler",
      :hint => "The phone number for the scheduling contact. Used for givind contact info if someone needs to talk to a person."
  = f.buttons
- semantic_form_for @options["days_to_send_event_notifications"], :namespace => "days_to_send_event_notifications" do |f|
  - f.inputs do
    = f.input :value,
      :label => "Number of days ahead a notfication is sent",
      :hint => "The number of days that notification emails should be sent prior to the session starting."
  = f.buttons
- semantic_form_for @options["not_approved_color"], :namespace => "not_approved_color" do |f|
  - f.inputs do
    = f.input :value,
      :label => "Not Approved Color",
      :hint => "The color to display an event that is not approved yet in the calendar",
      :as => :colorpicker
  = f.buttons
- semantic_form_for @options["special_event_color"], :namespace => "special_event_color" do |f|
  - f.inputs do
    = f.input :value,
      :label => "Special Event Color",
      :hint => "The color to display a special event in the calendar",
      :as => :colorpicker
  = f.buttons
- semantic_form_for @options["gravatar_default"], :namespace => "gravatar_default" do |f|
  - f.inputs do
    = f.input :value,
      :label => "Default user icons",
      :hint => "The theme to use when assigning default user icons for those who do not have a gravatar.com account",
      :as => :select,
      :include_blank => false,
      :collection => [ "identicon", "monsterid", "wavatar" ]
  = f.buttons
