- title "Manikins"
%table
  %tr
    %th Name
    %th Serial Number
    %th Type
    %th Out Of Service
    %th{:colspan => "3"} Actions
  - for manikin in @manikins
    %tr
      %td= h manikin.name
      %td= h manikin.serial_number
      %td= h manikin.sim_type
      %td= manikin.oos ? "Yes" : "No"
      %td= link_to_confirm "Show", manikin
      %td= link_to_confirm "Edit", edit_manikin_path(manikin)
      %td= link_to_confirm t(:destroy), delete_manikin_path(manikin), :confirm => t(:destroy_confirm)
%p= link_to_confirm "New Manikin", new_manikin_path
%p= link_to_confirm "Return", root_path
