- title "Manikin"
%p
  %strong Name:
  = h @manikin.name
%p
  %strong Serial Number:
  = h @manikin.serial_number
%p
  %strong Request type:
  - if @manikin.manikin_req_type
    = h @manikin.manikin_req_type.req_type
  - else
    None
%p
  %strong Type:
  = h @manikin.sim_type
- if @manikin.oos
  %p
    %strong This manikin is Out Of Service
%p
  = link_to "Edit", edit_manikin_path(@manikin)
  | #{link_to_confirm "Delete", @manikin, :confirm => 'Are you sure?', :method => :delete}
  - if @current_instructor.admin?
    | #{link_to_confirm "View All", manikins_path}
    | #{link_to_confirm "Add New", new_manikin_path}
  | #{link_to_confirm "Home", root_url}
