<% title "Manikin" %>

<p>
  <strong>Name:</strong>
  <%=h @manikin.name %>
</p>
<p>
  <strong>Serial Number:</strong>
  <%=h @manikin.serial_number %>
</p>
<p>
  <strong>Request type:</strong>
  <%=h @manikin.manikin_req_type.req_type %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @manikin.sim_type %>
</p>
<p>
  <strong>Oos:</strong>
  <%=h @manikin.oos %>
</p>

<p>
  <%= link_to "Edit", edit_manikin_path(@manikin) %>
  | <%= link_to "Delete", @manikin, :confirm => 'Are you sure?', :method => :delete %>
  <% if @current_instructor.admin? -%>
    | <%= link_to "View All", manikins_path %>
    | <%= link_to "Add New", new_manikin_path %>
  <% end -%>
  | <%= link_to "Home", root_url %>
</p>
