- title "Facilities"
%ol
  - @facilities.each do |f|
    %li
      = link_to f.name, edit_facility_path(f)
      %span.color{:style=>"background-color:##{f.agenda_color};"}= "##{f.agenda_color}"
      = link_icon_to "pencil", t(:edit), edit_facility_path(f)
      = link_icon_to "trash", t(:destroy), delete_facility_path(f), :confirm => t(:destroy_confirm)
= link_to "New Facility", new_facility_path
