- confirm_on_exit
- semantic_form_for @event do |f|
  - f.inputs do
    = hidden_field_tag "auto_approve", ""
    = f.input :title
    - if Facility.count > 0
      = f.input :facility
    = f.input :location, :as => :autocomplete
    = f.input :benefit
    = f.input :notes
    = f.input :start_time
    = f.input :end_time
    = f.input :instructors, :as => :multiselect
    - if is_admin?
      = f.input :technician,  :as => :select,      :collection => @technicians
    = f.input :live_in
  - f.buttons do
    = (is_admin?) ? f.commit_button(:button_html => { :class => "confirm_auto_approve" }) : f.commit_button
