- confirm_on_exit
- semantic_form_for @event do |f|
  - f.inputs do
    = f.input :title
    = f.input :location
    = f.input :benefit
    = f.input :notes
    = f.input :start_time
    = f.input :end_time
    = f.input :live_in
  = f.buttons
