- title "Sessions"
-# wide_content
- javascript "jquery.tablesorter"
- stylesheet "tablesorter/style"
- header_hash = (is_admin?) ?                                          |
  "3: { sorter: false }, 4: { sorter: false }, 7: { sorter: false }" : |
  "2: { sorter: false }, 3: { sorter: false }, 6: { sorter: false }"   |
:javascript
  $(document).ready(function () {
    $("#table_to_sort").addClass("tablesorter").tablesorter({
      /* debug: true, */
      headers: { #{header_hash} }
    });
  });
- if is_admin?
  - if @listing_mod == "old"
    .notification
      You are viewing the past sessions.
  - elsif @listing_mod != "all"
    .notification
      You are viewing only the submitted and approved listings.
  .button-box
    = link_to_confirm "View Pending", "#{events_path}?mod=pending", :class => "button"
    = link_to_confirm "View Old", "#{events_path}?mod=old", :class => "button"
    = link_to_confirm "View All", "#{events_path}?mod=all", :class => "button"
%table#table_to_sort
  %thead
    %tr
      %th Title
      %th Location
      - if is_admin?
        %th Instructor
      %th Has&nbsp;Notes
      %th Live&nbsp;In
      %th Start&nbsp;Time
      %th End&nbsp;Time
      %th{:colspan => "3"} Actions
  %tbody
    - for event in @events
      %tr{:class => event.status_as_class}
        %td= link_to_confirm h(event.title), event
        %td= h event.location
        - if is_admin?
          %td= link_to_confirm h(event.instructor.name), event.instructor
        %td
          - if !event.notes.empty?
            %span.ui-icon.ui-icon-check Yes
        %td
          - if event.live_in
            %span.ui-icon.ui-icon-check Yes
        %td= h event.start_time
        %td= h event.end_time
        - if event.submitted? || event.approved?
          %td link_to_event_revoke t(:revoke), event
        - else
          %td &nbsp;
        %td= link_to_confirm "Edit", edit_event_path(event)
        %td= link_to_confirm t(:destroy), event, :confirm => t(:destroy_confirm), :method => :delete
- if @events.length <= 0
  .notification
    No sessions
%p= link_to_confirm "New Session", new_event_path
%p= link_to_confirm "Return", root_path
