- title "Sessions"
- wide_content
%table
  %tr
    %th Title
    - if is_admin?
      %th Instructor
    %th Location
    %th Has Notes
    %th Live In
    %th Start Time
    %th End Time
    %th{:colspan => "2"} Actions
  - for event in @events
    %tr{:class => event.status_as_class}
      %td= link_to_confirm h(event.title), event
      - if is_admin?
        %td= link_to_confirm h(event.instructor.name), e.instructor
      %td= h event.location
      %td
        - if !event.notes.empty?
          %span.ui-icon.ui-icon-check Yes
      %td
        - if event.live_in
          %span.ui-icon.ui-icon-check Yes
      %td= h event.start_time
      %td= h event.end_time
      %td= link_to_confirm "Edit", edit_event_path(event)
      %td= link_to_confirm t(:destroy), event, :confirm => t(:destroy_confirm), :method => :delete
%p= link_to_confirm "New Session", new_event_path
%p= link_to_confirm "Return", root_path
