<% title "Events" %>

<table>
  <tr>
    <th>Location</th>
    <th>Benefit</th>
    <th>Notes</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Live In</th>
    <th>Instructor</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.location %></td>
      <td><%=h event.benefit %></td>
      <td><%=h event.notes %></td>
      <td><%=h event.start_time %></td>
      <td><%=h event.end_time %></td>
      <td><%=h event.live_in %></td>
      <td><%=h event.instructor_id %></td>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_event_path %></p>
