<% title "Event" %>

<p>
  <strong>Location:</strong>
  <%=h @event.location %>
</p>
<p>
  <strong>Benefit:</strong>
  <%=h @event.benefit %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @event.notes %>
</p>
<p>
  <strong>Start Time:</strong>
  <%=h @event.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%=h @event.end_time %>
</p>
<p>
  <strong>Live In:</strong>
  <%=h @event.live_in %>
</p>
<p>
  <strong>Instructor:</strong>
  <%=h @event.instructor.name %>
</p>
<p>
  <strong>Created at:</strong>
  <%=h @event.created_at %>
</p>
<p>
  <strong>Last Updated:</strong>
  <%=h @event.updated_at %>
</p>

<div id="scenarios">
  <h2>Scenarios</h2>
  <% if @event.scenarios.empty? %>
    <div class="box">No scenarios defined yet!</div>
  <% else %>
    <% @event.scenarios.each_with_index do |scenario, index| %>
      <div class="box border">
        <p class="scenario-title"><span><%= (index+1).ordinalize %> scenario: [<%= link_to "Edit", edit_scenario_path(scenario) %>]</span></p>
        <p class="scenario-description"><%=h scenario.description %></p>
        <% unless scenario.manikin.nil? %>
          <p><strong>Manikin:</strong> <%=h scenario.manikin.name_and_type %></p>
        <% else %>
          <p><strong>This scenario does not use any manikins.</strong></p>
        <% end %>
        <% unless scenario.flags_as_strings.empty? %>
          <p class="flags-list"><strong>Support Needs:</strong> <%= scenario.flags_as_strings.to_sentence %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="box"><%= link_to "Add a scenario", new_event_scenario_path(@event) %></div>
</div>

<p>
  <%= link_to "Edit", edit_event_path(@event) %>
  | <%= link_to "Delete", @event, :confirm => 'Are you sure?', :method => :delete %>
  <% if @current_instructor.admin? -%>
    | <%= link_to "View All", events_path %>
  <% end -%>
  | <%= link_to "Home", root_url %>
</p>
