<% title "Submit a session" %>

<% form_for @event, :url => submit_event_path(@event) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :submit_note %><br />
    <%= f.text_area :submit_note %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p>
  <%= link_to "Cancle", root_url %>
  | <%= link_to "Edit", edit_event_path(@event) %>
</p>
