- confirm_on_exit
- semantic_form_for @scenario do |f|
  - f.inputs do
    = f.input :event_id, :as => :hidden
    = f.input :equipment
    = f.input :staff_support
    = f.input :moulage
    = f.input :notes
    = f.input :support_material
    = f.input :description
    = f.input :video
    = f.input :mobile
    = f.input :manikin_req_type, :label_method => 'req_type'
    - if @current_instructor.admin?
      = f.input :manikin, :label_method => 'name_and_type'
  = f.buttons
