- title "Scenarios"
- wide_content
%table
  %thead
    %tr
      %th Title
      %th Equipment
      %th Staff Support
      %th Moulage
      %th Notes
      %th Support Material
      %th Description
      %th Video
      %th Mobile
      %th Event
      %th Manikin
      %th{:colspan => "3"} Actions
  %tbody
    - for scenario in @scenarios
      %tr
        %td= h scenario.title
        %td= h scenario.equipment
        %td= h scenario.staff_support
        %td= h scenario.moulage
        %td= h scenario.notes
        %td= h scenario.support_material
        %td= h scenario.description
        %td= h scenario.video
        %td= h scenario.mobile
        %td= h scenario.event_id
        %td= h scenario.manikin_id
        %td= link_to_confirm "Show", scenario
        %td= link_to_confirm "Edit", edit_scenario_path(scenario)
        %td= link_to_confirm t(:destroy), delete_scenario_path(scenario), :confirm => t(:destroy_confirm)
%p= link_to_confirm "New Scenario", new_scenario_path
%p= link_to_confirm "Return", root_path
