<% title "Log in" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% form_for @instructor_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit "Log in" %></p>
<% end %>
