<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-15" />
    <meta name="generator" content="SimNotify by Devin Weaver suki (at) tritarget.org" />
    <%= stylesheet_link_tag 'application' %>
    <%= formtastic_stylesheet_link_tag %>
    <%= stylesheet_link_jquery %>
    <%= stylesheet_link_tag 'fullcalendar' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_jquery %>
    <%= javascript_include_tag (APP_CONFIG['use_minified_js'] ? 'fullcalendar.min' : 'fullcalendar') %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="logo-container"><%= image_tag "logo.png" %></div>
      <div id="header">
        <span id="title"><%= APP_CONFIG['company_name'] %></span>
        <%- if show_title? -%>
          <br /><span id="subtitle"><%=h yield(:title) %></span>
        <%- end -%>
      </div>
      <%- if logged_in? -%>
      <div id="navigation">
        <ul>
          <!-- Please don't remove this important notice :
          If you don't keep all the definition of the menu
          in one line (without break line and space) it will
          be destroyed by Internet Explorer.
          Use add_nav_link helper for this. -->
          <li><%= link_to_home -%></li><%= nav_link_to_calendar if (is_admin? && !@is_calendar) -%><%= yield :nav_list %>
        </ul>
      </div>
      <%- end -%>

      <div id="content">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%= yield %>
      </div>

      <div id="footer">
        &copy; 2010 <a href="#"><%= APP_CONFIG['company_name'] %></a>
        <% if APP_CONFIG['include_designer_credit'] %>
          | Design by <a href="http://nicolas.freezee.org" target="_BLANK">Nicolas Fafchamps</a>
        <% end %>
      </div>

    </div>
    <!-- Design Created By Nicolas Fafchamps (2006) - Public domain -->
  </body>
</html>
